<!DOCTYPE html>
<html>
<head>
	<title>Halanx</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheet/landing.css">
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/" style="color: red; font-weight: bold; font-size: 1.8em;">Halanx</a>
	  

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      
	      
	      <li class="nav-item dropdown">
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	        </div>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">

	    	<% if(currentUser) { %>
	    		<a href="/users/<%= currentUser._id %>" class="btn btn-outline-success my-2 my-sm-0">Go To Dashboard</a>
	    		<a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" >Logout</a>
	    	<% } else { %>
	    		<a class="btn btn-danger my-2 my-sm-0" href="/login">Login</a>
	    	<% } %>

	    </form>
	  </div>
	</nav>

	<div class="container">
  <% if(error && error.length>0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>

  <% if(success && success.length>0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
</div>
