<% include partials/header.ejs %>

<div style="padding: 5%;">
	
	<center>
	<form action="/register" method="POST">
		<input type="text" name="name" placeholder="Your Name" required>
		<input type="email" name="username" placeholder="Enter your email ID" required>
		<input type="password" name="password" placeholder="Create Password" required>
		<button>Create Account</button>
	</form>
</center>
</div>

</body>
</html>